<a class="submenu__item category icon-right-dir" href="<%= id %>" data-type="axe"><%= axe %></a>
<ul class="enjeux submenu">
	<li><a href="#back" class="submenu__item submenu__item--back icon-left-dir">Retour</a></li>
	<% _.each(enjeux, function(enjeu, id_enjeu) { %>
	<li>
		<a class="submenu__item category icon-right-dir" href="<%= id_enjeu %>" data-type="enjeu"><%= enjeu.enjeu %></a>
		<ul class="usages submenu">
			<li><a href="#back" class="submenu__item submenu__item--back icon-left-dir">Retour</a></li>
			<% _.each(enjeu.usages, function(usage, id_usage) { %>
			<li>
				<a class="submenu__item category icon-right-dir" href="<%= id_usage %>" data-type="usage"><%= usage.usage %></a>
				<ul class="services submenu">
					<li><a href="#back" class="submenu__item submenu__item--back icon-left-dir">Retour</a></li>
					<div>
						<% _.each(usage.services, function(service) { %>
						<li><a class="submenu__item category" href="<%= service.id_service %>" data-type="service"><%= service.service %></a></li>
						<% }); %>
					</div>
				</ul>
			</li>
			<% }); %>
		</ul>
	</li>
	<% }); %>
</ul>
